
@{
    ViewBag.Title = "AddCharacterClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
body { background-image: url('https://i.pinimg.com/originals/e8/60/a4/e860a4fc695f4ff98af7b47b349e07ee.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }
</style>

<div class="col-md-6">
    <form method="post">
        <div class="form-group">
            <label>Class Name</label>
            <input type="text" name="ClassName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Strength</label>
            <input type="number" name="Strength" class="form-control" />
        </div>
        <div class="form-group">
            <label>Intelligence</label>
            <input type="number" name="Intelligence" class="form-control" />
        </div>
        <div class="form-group">
            <label>Agility</label>
            <input type="number" name="Agility" class="form-control" />
        </div>
        <div class="form-group">
            <label>WeaponDamage</label>
            <input type="number" name="WeaponDamage" class="form-control" />
        </div>
        <div class="form-group">
            <label>SpellDamage</label>
            <input type="number" name="SpellDamage" class="form-control" />
        </div>
        <div class="form-group">
            <label>Lore</label>
            <input type="text" name="Lore" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

